NEXT_PUBLIC_API_URL="http://localhost:3000"
GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret
NEXTAUTH_SECRET=generated_secret_key
NEXTAUTH_URL="http://localhost:3000"
DATABASE_URL="postgresql+asyncpg://user:password@localhost:5432/dynodocs"
REDIS_URL="redis://localhost:6379/0"

POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db